In [1]:
from pyarabic.araby import strip_tashkeel
import pandas as pd

In [2]:
df_two = pd.read_csv('engzketab (2).csv')

In [3]:
df_two.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'book-summ-search',
       'book-summ-search-href', 'book-selector', 'book-selector-href',
       'Book-summary', 'more-selector', 'more-selector-href',
       'book-selector-more', 'book-selector-more-href', 'Book-Summary-more',
       'Book-name', 'author-name', 'Book-name-more', 'author-name-more'],
      dtype='object')

In [4]:
print(df_two['Book-name'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 1227 entries, 0 to 1226
Series name: Book-name
Non-Null Count  Dtype
--------------  -----
136 non-null    object
dtypes: object(1)
memory usage: 9.7+ KB
None

In [5]:
df_two['summary'] = pd.concat([df_two['Book-summary'].dropna(), df_two['Book-Summary-more'].dropna()]).drop_duplicates()

In [6]:
df_two['summary'].count()

409

In [7]:
df_two['author-name-final'] = pd.concat([df_two['author-name'],df_two['author-name-more']],ignore_index=True)

In [8]:
df_two['Book-name-final'] = pd.concat([df_two['Book-name'],df_two['Book-name-more']],ignore_index=True)

In [ ]:
df_two

In [10]:
df_filtered = df_two.loc[:, ['summary', 'Book-name-final', 'author-name-final']]

In [11]:
df_filtered

,summary,Book-name-final,author-name-final
0,ملخص كتاب شركات أنشئت لتبقىالعادات الناجحة للش...,NaN,NaN
1,NaN,NaN,NaN
2,NaN,NaN,NaN
3,ملخص كتاب كيفيّة جَذبِ العملاءِالدعايا الناجحة...,NaN,NaN
4,NaN,NaN,NaN
...,...,...,...
1222,NaN,ملخص كتاب سيكولوجية الجماهير,NaN
1223,NaN,NaN,غوستاف لوبون
1224,ملخص كتاب الطريق من هناحتى تعود الأمة لمكانتها...,NaN,NaN
1225,NaN,ملخص كتاب الطريق من هنا,NaN
1226,NaN,NaN,محمد الغزالي

In [14]:
df_filtered = df_filtered.dropna(subset=['summary'])

In [12]:
def remove_tashkeel(txt):
    text = strip_tashkeel(txt)
    return text

In [16]:
import re
def find_book_title(text):
    text_ = remove_tashkeel(text)
    ketab = 'كتاب'
    pattern = f"{re.escape(ketab)}[\s\S]+?(\w+)[\s\S]+?(\w+)[\s\S]+?(\w+)"
    matches = re.search(pattern, text_)
    if matches:
       x=matches.group(1), matches.group(2), matches.group(3)
       result = f"{ketab} "+ " ".join(x)
       return result
    return None


# book_title = []
# for summary in df_filtered['Book-summary-final']:
#     txt = find_book_title(summary)
df_filtered['Book-title'] = df_filtered['summary'].apply(find_book_title)

len(df_filtered)

C:\Users\Hamad\AppData\Local\Temp\ipykernel_37076\3802104322.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Book-title'] = df_filtered['summary'].apply(find_book_title)

409

In [17]:
df_filtered=df_filtered.reset_index()

In [22]:
df_filtered['summary'].isna().sum()

0

In [ ]:
df_filtered.to_csv('book_summary_title.csv')